$amarilloLab: rgb(247, 182, 23);
$grisLab: rgb(43, 43, 43);
$col-size: 8.3333%;
$col-medium-size: 8.3333%;
$list-deco: none;
$margen-cero: 0;
$padding-titulo: 1em;
$padding-lista: .5em;
$padding-cero: 0;
$margen-lista: 10px;
$texto-blanco: rgb(255, 255, 255);
$font-size-titulo: 1.2em;
$font-size-texto: 1em;
$texto-centrado: center;
$texto-justificado: justify;
$display-grid: inline-grid;
$break-small: 320px;
$break-medium: 768px;
$break-large: 1200px;