@import 'mixin';
@import 'variables';

body{
	margin: $margen-cero;
	padding: $padding-cero;
}

#capitan{
	background-color: $amarilloLab;
	width: $col-size * 12;
	margin: $margen-cero;
	padding: $padding-titulo;
	color: $texto-blanco;
	font-size: $font-size-titulo;
	box-sizing: border-box;
}

#liAmarillo{
	list-style: $list-deco;
	margin: $margen-lista;
	padding: $padding-lista;
	color: $texto-blanco;
	font-size: $font-size-texto;
}
.liGris{
	@extend #liAmarillo;
}
#liAmarillo{
	background-color: $amarilloLab;
}
.liGris{
	background-color: $grisLab;
}
#lista{
	margin: $margen-cero;
	width: $col-size * 3;
	display: $display-grid;
	@media screen and (max-width: $break-small) {
    width: 100%;
    margin-left: -20px;
  }
  	@media screen and (max-width: $break-medium){
  	width: 50%;
    margin-left: -20px;
  }
}
#descripcion{
	text-align: $texto-justificado;
	width: $col-size *5;
	margin: $margen-cero;
	display: inline-grid;
	@media screen and (max-width: $break-small) {
    width: 100%;
    margin: $margen-cero;
  }
}
.aside{
	background-color: $grisLab;
	text-align: $texto-centrado;
	color: $texto-blanco;
	margin: $margen-cero;
	width: $col-size * 3;
	display: $display-grid;
	padding: 0;
	@media screen and (max-width: $break-small) {
    width: 100%;
    margin: $margen-cero;
  }
  @media screen and (max-width: $break-medium){
  	width: 100%;
    margin-left: -20px;
  }
}
#footer{
	width: $col-size * 12;
	background-color: $grisLab;
	text-align: $texto-centrado;
	color: $texto-blanco;
	padding: $padding-lista;
	margin-top: $margen-lista;
	margin-right: $margen-cero;
	box-sizing: border-box;
}