$amarilloLab: rgb(247, 182, 23);
$grisLab: rgb(43, 43, 43);
$col-size: 8.3333%;
$col-medium-size: 8.3333%;
$list-deco: none;
$margen-cero: 0;
$padding-titulo: 1em;
$padding-lista: .5em;
$margen-lista: 10px;
$texto-blanco: white;
$font-size-titulo: 1.2em;
$font-size-texto: 1em;
$texto-centrado: center;
$texto-justificado: justify;
$display-grid: inline-grid;
$break-small: 320px;
$break-large: 1200px;

#capitan{
	background-color: $amarilloLab;
	width: $col-size * 12;
	margin: $margen-cero;
	padding: $padding-titulo;
	color: $texto-blanco;
	font-size: $font-size-titulo;
}

#liAmarillo{
	list-style: $list-deco;
	margin: $margen-lista;
	padding: $padding-lista;
	color: $texto-blanco;
	font-size: $font-size-texto;
}
.liGris{
	@extend #liAmarillo;
}
#liAmarillo{
	background-color: $amarilloLab;
}
.liGris{
	background-color: $grisLab;
}
#lista{
	margin: $margen-cero;
	width: $col-size * 3;
	display: $display-grid;
	@media screen and (max-width: $break-small) {
    width: 100%;
    margin-left: -20px;
  }
}
#descripcion{
	width: $col-size * 5;
	text-align: $texto-justificado;
	margin: $margen-cero;
	display: $display-grid;
	@media screen and (max-width: $break-small) {
    width: 100%;
    margin: $margen-cero;
  }
}
.aside{
	background-color: $grisLab;
	text-align: $texto-centrado;
	color: $texto-blanco;
	margin: $margen-cero;
	width: $col-size * 3;
	display: $display-grid;
	padding: 0;
	@media screen and (max-width: $break-small) {
    width: 100%;
    margin: $margen-cero;
  }
}
#footer{
	width: $col-size * 12;
	text-align: $texto-centrado;
	background-color: $grisLab;
	color: $texto-blanco;
	padding: $padding-lista;
	margin: $margen-cero;
}